body {
  font-family: arial, sans-serif;
  background-color: #faf8f1;
  font-family: arial, sans-serif;
}

h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
h6 {
  font-size: 14px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
small {
  display: block;
  text-align: left;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.search-form {
  margin-bottom: 20px;
  border-color: #faeab1;
}

.weather-app {
  border: 1px solid #e5ba73;
  background-color: #faeab1;
  padding: 30px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.units {
  position: relative;
  top: -34px;
}

.daily {
  margin: 30px 0px 30px 0px;
}
.sun {
  width: 100px;
  margin: 0px 50px 100px 100px;
}
.cloud {
  width: 30px;
}
.today .degreetoday .degree2today {
  opacity: 80%;
}
.dailydegree {
  margin: 5px 15px;
}
.col-center {
  border-radius: 4px;
}
.selectDay {
  text-align: center;
  margin: 0px 0px 0px -30px;
  padding: 10px;
}
.selectDay:hover {
  border: 1px solid #e5ba73;
  border-radius: 10px;
  padding: 5px;
  background-color: #faf8f1;
  cursor: pointer;
  box-shadow: 0 0 10px 2px #e5ba73;
}

.btn-primary {
  background-color: #c58940;
  border-color: #c58940;
  color: white;
}
.btn-primary:hover {
  background-color: white;
  border-color: white;
  color: brown;
}
.btn-success {
  background-color: #e5ba73;
  border-color: #e5ba73;
  color: white;
}
.btn-success:hover {
  background-color: white;
  border-color: white;
  color: brown;
}
